* {box-sizing: border-box;
  cursor: url("underwater/favicon1.ico"), pointer;
}

html {
  cursor: url("underwater/favicon.ico"), default;
}

body {
	background-color: #01050D;
	background-image: url(underwater/main1.png);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	margin: 2em;
	font-family: "OpenDyslexic-Regular";
	padding-bottom: 6px;
	color: white;
		}

@font-face {
  font-family: OpenDyslexic-Regular;
  src: url(OpenDyslexic-Regular.otf);
}

button {
	background-color: royalblue;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center right;
	position: relative;
	margin: 0;
	font-family: "OpenDyslexic-Regular";
	padding-bottom: 6px;
  color: #01050D;
}

a {
  font-weight: bold;
  color: purple;
  text-decoration: none;
  border: 0px;
}
a:hover {
  color: violet;
}

html {scroll-behavior: smooth; }
	p { line-height: 1.5em; }

.corner {
	bottom: 0px;
	margin: 10px;
	right: 0px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

.middle {
	bottom: 0px;
	margin: 10px;
	right: 115px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

.corner2 {
	bottom: 0px;
	margin: 10px;
	right: 250px;
	padding-bottom: 0px;
	position: fixed;
	object-position: bottom right;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #91AAF2 #F2BEE4;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut_A {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#question {
  opacity: 1;
  animation-name: fadeInOut;
  animation-duration: 4s;
}


#question1 {
  opacity: 1;
  animation-name: fadeInOut_A;
  animation-duration: 6s;
}




/*
main {
  float: left;
  width: 65%;
  border: 1px solid gray;
  padding: 2em;
  text-align: justify;
} 
*/